body {
    background: #f7f7f7;
  }
  
  .app {
    width: 45em;
    display: flex;
    gap: 1em;
    margin: 3em;
    font-family: 'Playfair Display';
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  button {
    background: #17f;
    color: #fff;
    font: inherit;
    border: none;
    border-radius: 3px;
    outline: none;
    padding: 0.5em 1.5em;
  }
  
  button:active {
    background-color: #05b;
  }
  
  input {
    border: 1px solid #999;
    border-radius: 3px;
    font: inherit;
    padding: 0.5em;
  }
  
  input:focus {
    outline: auto #17f;
  }

  form > input {
    border-radius: 30px;
  }

  .belowButtons{
    justify-content: center;
    margin-top: 70px;
    margin-left: 10px;
  }

  .buttonDiv{
    text-align: center;
  }

  .headers{
    text-align: center;
  }

  .searchBar{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 8px;
    box-sizing: border-box;
    text-align: center;
  }

  .output{
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
  }